<!DOCTYPE html>
<html lang='en-US' data-ng-app='crimeCrunch'>
<head>
  <meta charset='utf-8' />
  <title>CrimeCrunch</title>
  <link href='/css/app.css' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css' />
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'/></script>
  <script src='//maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false'></script>
  <script src='/js/app.js'></script>
  <script src='/js/controllers.js'></script>
  <script src='/js/services.js'></script>
  <script src='/js/directives.js'></script>
</head>
<body>
   <header class='app-header'>
    <h1 class='app-logo'>CrimeCrunch</h1>
    <p class='app-description'>Analyze neighborhood crime numbers.</p>
  </header>

  <div class='app-content' data-ng-controller='IncidentsListController'>
    <form class='search-incidents'>
      <span class='search-incidents-field'>
        <input class='search-incidents-input' data-ng-model='address' data-location-autocomplete type='text' placeholder='Enter a street address or intersection' />
        <button class='entypo location' type='button' data-ng-click='getIncidentsByLocation()'></button>
      </span>
    </form>

    <div class='incidents' data-ng-show='incidents.length'>
      <ul class='incidents-list'>
        <li data-ng-repeat='incident in incidents | orderBy:"label"' class='incident'>
          <span class='incident-count'>{{incident.count}}</span>
          <span class='incident-label'>{{incident.label}}</span>
        </li>
      </ul>

      <p class='incidents-timeline-note'>*Incidents within 500m from the last 6 months</p>
    </div>
  </div>
</body>
</html>
