@import "bourbon/bourbon";
@import "entypo";

@import "utility";
@import "base";

.app-header {
  text-align: center;
  text-shadow: 0 1px rgba(0,0,0,0.5);

  .app-logo {
    margin-bottom: 0;
  }
}

.app-content {
  box-shadow: 0 0 1px rgba(124, 132, 143, 0.65) inset;
  border-radius: 4px;
  border: 1px solid #2B2F35;
  background: #29323C;
  margin-top: 2rem;
}

.search-incidents {
  box-shadow: 0 1px 2px rgba(24, 24, 24, 0.5), 0 0px 1px rgba(126, 141, 162, 0.75) inset;
  border: 1px solid #384150;
  border-radius: 3px 3px 0 0;
  @include linear-gradient(#4E5964, #525963 35%, #474F5B);
  color: #FFF;
  padding: 1.5rem;
  border-bottom-color: #15181F;
  margin: -1px -1px 0 -1px;

  .search-incidents-field {
    text-shadow: 0 1px #000;
    display: block;
    position: relative;
  }

  .search-incidents-input {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(100, 109, 121, 1);
    border-radius: 3px;
    border: none;
    background: #2A313B;
    width: 100%;
  }

  .entypo.location {
    border: none;
    background: none;
    @include font-size(3);
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.incidents {
  padding: 2em;

  .incidents-list {
    @include clearfix;
    list-style: none;
    @include columns(3);
    padding: 0;
    margin: 0;
  }

  .incident {
    width: 100%;
    margin-bottom: 1em;
    display: inline-block;
  }

  .incident-count {
    border-radius: 3px;
    background: #404A53;
    text-align: center;
    width: 2.5em;
    line-height: 1.5em;
    display: inline-block;
  }

  .incident-label {
    margin-left: 1ex;
  }

  .incidents-timeline-note {
    font-size: 85%;
    font-style: italic;
  }
}
